    <div class="hdtsks_header">
        <div class="hdtsks_logo">
            <h1>현대특수건설</h1>
        </div>
        <div style="margin-top: 2rem;">
            <a href="{% url 'articleapp:list' %}" style="color: black; text-decoration: none; margin-right: 1.5rem;">
                <span>메인</span>
            </a>
            <a href="{% url 'articleapp:select_date' %}" style="color: black; text-decoration: none; margin-right: 1.5rem;">
{#            <a href="'select_date.html'" style="color: black; text-decoration: none; margin-right: 1.5rem;">#}
                <span>사정률 분석</span>
            </a>
            <a href="{% url 'articleapp:list' %}" style="color: black; text-decoration: none;">
                <span>업체별 분석</span>
            </a>
        </div>
    </div>