{% extends 'base.html' %}


{% block content %}
    <div style="text-align: center; margin-bottom: 3rem;">
        <h3>날짜 선택</h3>
    </div>
    <script type="text/javascript">
        window.onload = function() {
        today = new Date();
        console.log("today.toISOString() >>>" + today.toISOString());
        today = today.toISOString().slice(0, 10);
        console.log("today >>>> " + today);
        day_start = document.getElementById("start");
        day_start.value = today;
        day_end = document.getElementById("end");
        day_end.value = today;
        }
    </script>

    <div style="text-align: center;">
        <form method="POST" action="{% url 'articleapp:table_list' %}" style="align-items: center">
        {% csrf_token %}
            <label for="start">시작일:</label>
            <input type="date" id="start" name="trip-start"
            min="2010-01-01" max="2025-12-31">
            &nbsp;
            &nbsp;
            <label for="start">종료일:</label>
            <input type="date" id="end" name="trip-end"
            min="2010-01-01" max="2025-12-31">
            &nbsp;
            <button type="submit" class="btn btn-primary btn-md pull-right">분석하기</button>
        </form>
    </div>

{% endblock %}